* {
    margin: 0;
    padding: 0;
}
body::-webkit-scrollbar {
    width: 12px;
}

body::-webkit-scrollbar-track {
    background-color: white;
}
body::-webkit-scrollbar-thumb {
    background-color: black;
}

@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

body {
    /* background-color: rgb(211, 204, 204);*/
    height: 8000px;
    font-family: "Orbitron", sans-serif !important;
}




header {
    position: sticky;
    top: 0.1px;
    display: flex;
    flex-direction: row;
    width: 98, 9vw;
    height: 15vh;
    background-color: white;
    z-index: +5;
}

#home{
    padding: 0px;
    display: block;
    float: left;
    width: 35px;
    height: 35px;
}
ul {
    padding: 30px 0px 0px 0px;
    margin: 32px 0px 0px 55px;
    display: flex;
    flex-direction: row;
    list-style: none;
}

li {
    padding-left: 25px;
}

#lista-nav {
    width: 25vw;
}
#linha-sobre{
    text-decoration: line-through;
}

#logo {
    margin: 0px 0px 0px 150px;
    width: 25vw;
    height: 25vh;
    /* border: 1px solid black;*/
    background-image: url(img/logo-dablio.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 95%;
}

#logo img {
    width: 250px;
    height: 175px;
}

#lista-redes li{
    width: 30vw;
}

.lista-redes img {
    width: 25px;
    height: 25px;
}

.lista-redes:hover {
    cursor: pointer;
}

header a {
    color: black;
    text-decoration: none;
}

header a:hover {
    color: gray;
}
/*******/
.container-comum{
    width: 98,9vw;
    height: 700px;
}
.flex-container{
    width: 45vw;
    height: 500px;
    display: flex;
    justify-content: space-between;
}
.col{
    width: 45vw;
    height: 500px;
}
.titulo1{
    font-size: 55px;
}
.formatacao{
    padding:0px 50px;
    text-align: justify;
}
.formatacao-img{
    width: 600px;
    height: 400px;
    margin:0px 35px;
}
/********/
#lista-artistas{
    flex-direction: column;
}
.formatacao-artista{
    font-size: 33px;
    padding: 50px 0px 0px 155px;
}














/******/
footer{
    width: 98,9;
    height: 250px;
    background-color: grey;
    display: flex;
    color:white;
}
footer div{
    margin: 100px 0px 0px 50px;
}
footer nav{
    margin: 70px 0px 0px 700px;
}